<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% block description %}Araba alım satım ilan!{% endblock %}">
    <meta name="keywords" content="araba,kiralama,ren a car,sell car,car">
    <meta name="author" content="Arzu Ünüvar">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}{% include('blog/head.html.twig') %}{% endblock %}
    {% block stylesheet %} {% endblock %}
</head>
<body>
{% block header %}{% include('blog/header.html.twig') %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block slider %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% include('blog/footer.html.twig') %}{% endblock %}
{% block javascripts %}{% include('blog/javascripts.html.twig') %} {% endblock %}
</body>
</html>
